n8n-flujo-asistente-citas.json
{
  "name": "NexusAI — Asistente IA de Citas (WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-wa",
      "name": "Webhook — Mensaje WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "notes": "Configura esta URL como Webhook en Meta Business Manager > WhatsApp > Configuración. Verifica con el token de verificación que pongas en el parámetro GET 'hub.verify_token'."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-message",
              "leftValue": "={{ $json.body.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.type }}",
              "rightValue": "text",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-text",
      "name": "¿Es mensaje de texto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "phone",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "message",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "messageId",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].id }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "contactName",
              "value": "={{ $json.body.entry[0].changes[0].value.contacts?.[0]?.profile?.name ?? 'Cliente' }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "timestamp",
              "value": "={{ $now.toFormat('dd/MM/yyyy HH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extraer Datos del Mensaje",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 220]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres el asistente virtual de NexusAI, una agencia digital especializada en Diseño Web SEO, Meta Ads y Automatización con IA.\n\nTU MISIÓN: Atender al cliente de forma amable y profesional. Puedes hacer dos cosas principales:\n1. Responder preguntas sobre los servicios de NexusAI.\n2. Agendar una cita/reunión con el equipo.\n\nSERVICIOS QUE OFRECEMOS:\n- Diseño Web Optimizado para SEO (desde 800€)\n- Campañas de Meta Ads con gestión mensual (desde 300€/mes)\n- Asistentes Virtuales con IA integrados en WhatsApp/Web (desde 500€)\n- Paquetes completos con descuento\n\nPARA AGENDAR UNA CITA necesitas recopilar:\n- Nombre del cliente\n- Fecha preferida (disponibilidad: lunes a viernes, 9:00-19:00, no fines de semana)\n- Hora preferida\n\nUna vez que tengas TODOS los datos, responde ÚNICAMENTE con este JSON (sin texto adicional):\n{\"accion\": \"agendar_cita\", \"nombre\": \"...\", \"fecha\": \"DD/MM/YYYY\", \"hora\": \"HH:MM\", \"confirmado\": true}\n\nSi el cliente NO quiere cita sino solo información, responde normalmente en texto.\n\nREGLAS IMPORTANTES:\n- Siempre en español, tono profesional pero cercano.\n- No inventes precios ni servicios que no se hayan listado.\n- Si el cliente pregunta algo que no sabes, dile que le pasarás con el equipo.\n- Respuestas cortas y directas (máximo 3 párrafos).\n- La fecha de hoy es {{ $now.toFormat('dd/MM/yyyy') }}."
            },
            {
              "role": "user",
              "content": "={{ $json.message }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "id": "openai-chat",
      "name": "GPT-4o — Procesar Mensaje",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [900, 220],
      "credentials": {
        "openAiApi": {
          "id": "REEMPLAZA_CON_ID_CREDENCIAL_OPENAI",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "check-json",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "\"accion\": \"agendar_cita\"",
              "operator": { "type": "string", "operation": "contains" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-cita",
      "name": "¿Quiere agendar cita?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0].json.message.content.trim();\nlet citaData;\ntry {\n  // Extraer el JSON aunque venga con texto alrededor\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  citaData = match ? JSON.parse(match[0]) : null;\n} catch(e) {\n  citaData = null;\n}\n\nif (!citaData || !citaData.confirmado) {\n  return [{ json: { error: 'JSON inválido', raw } }];\n}\n\n// Convertir fecha DD/MM/YYYY a YYYY-MM-DD para Google Calendar\nconst [d, m, y] = citaData.fecha.split('/');\nconst fechaISO = `${y}-${m.padStart(2,'0')}-${d.padStart(2,'0')}`;\nconst [hh, mm] = citaData.hora.split(':');\nconst startISO = `${fechaISO}T${hh.padStart(2,'0')}:${mm.padStart(2,'0')}:00`;\nconst endDate = new Date(`${fechaISO}T${startISO.split('T')[1]}`);\nendDate.setMinutes(endDate.getMinutes() + 60); // 1 hora de duración\nconst endISO = endDate.toISOString().slice(0,19);\n\nreturn [{\n  json: {\n    ...citaData,\n    fechaISO,\n    startISO,\n    endISO,\n    phone: items[0].json.phone,\n    contactName: items[0].json.contactName,\n    timestamp: items[0].json.timestamp\n  }\n}];\n"
      },
      "id": "parse-cita",
      "name": "Parsear JSON de Cita",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 140]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "REEMPLAZA_CON_ID_DE_TU_GOOGLE_SHEET" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Citas" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha Registro": "={{ $json.timestamp }}",
            "Nombre":         "={{ $json.nombre }}",
            "Teléfono":       "={{ $json.phone }}",
            "Fecha Cita":     "={{ $json.fecha }}",
            "Hora Cita":      "={{ $json.hora }}",
            "Estado":         "Confirmada"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "Fecha Registro", "displayName": "Fecha Registro", "type": "string" },
            { "id": "Nombre",         "displayName": "Nombre",         "type": "string" },
            { "id": "Teléfono",       "displayName": "Teléfono",       "type": "string" },
            { "id": "Fecha Cita",     "displayName": "Fecha Cita",     "type": "string" },
            { "id": "Hora Cita",      "displayName": "Hora Cita",      "type": "string" },
            { "id": "Estado",         "displayName": "Estado",         "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "sheets-cita",
      "name": "Google Sheets — Guardar Cita",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1560, 140],
      "credentials": { "googleSheetsOAuth2Api": { "id": "REEMPLAZA_CON_ID_CREDENCIAL_GOOGLE", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "calendar": { "__rl": true, "mode": "id", "value": "primary" },
        "start": "={{ $json.startISO }}",
        "end": "={{ $json.endISO }}",
        "additionalFields": {
          "summary": "=Reunión NexusAI — {{ $json.nombre }}",
          "description": "=Cita agendada desde WhatsApp Bot\\n\\nNombre: {{ $json.nombre }}\\nTeléfono: {{ $json.phone }}\\nSolicitada el: {{ $json.timestamp }}",
          "attendees": []
        }
      },
      "id": "google-calendar",
      "name": "Google Calendar — Crear Evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [1780, 140],
      "credentials": { "googleCalendarOAuth2Api": { "id": "REEMPLAZA_CON_ID_CREDENCIAL_GCAL", "name": "Google Calendar" } }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "replyText",
              "value": "=✅ *¡Cita confirmada!*\\n\\n📅 *Fecha:* {{ $('Parsear JSON de Cita').item.json.fecha }}\\n⏰ *Hora:* {{ $('Parsear JSON de Cita').item.json.hora }}\\n\\nTe hemos enviado una invitación a Google Calendar. Si necesitas cancelar o cambiar la cita, escríbenos aquí mismo.\\n\\n¡Hasta pronto! 🚀",
              "type": "string"
            },
            {
              "id": "2",
              "name": "phone",
              "value": "={{ $('Parsear JSON de Cita').item.json.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "msg-confirmacion",
      "name": "Preparar Mensaje Confirmación",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2000, 140]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "replyText",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "phone",
              "value": "={{ $('Extraer Datos del Mensaje').item.json.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "msg-normal",
      "name": "Preparar Respuesta Normal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/2312820979200180/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": \"{{ $json.replyText }}\"\n  }\n}",
        "options": {}
      },
      "id": "send-whatsapp-reply",
      "name": "WhatsApp — Enviar Respuesta al Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 220],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REEMPLAZA_CON_ID_CREDENCIAL_WHATSAPP",
          "name": "WhatsApp Meta Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": { "responseCode": 200 }
      },
      "id": "respond-webhook",
      "name": "Responder al Webhook de Meta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2440, 220],
      "notes": "Meta requiere respuesta 200 en < 20 segundos o reintentará el mensaje."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": { "responseCode": 200 }
      },
      "id": "respond-ignore",
      "name": "Responder (ignorar no-texto)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 420]
    }
  ],
  "connections": {
    "Webhook — Mensaje WhatsApp": {
      "main": [[{ "node": "¿Es mensaje de texto?", "type": "main", "index": 0 }]]
    },
    "¿Es mensaje de texto?": {
      "main": [
        [{ "node": "Extraer Datos del Mensaje", "type": "main", "index": 0 }],
        [{ "node": "Responder (ignorar no-texto)", "type": "main", "index": 0 }]
      ]
    },
    "Extraer Datos del Mensaje": {
      "main": [[{ "node": "GPT-4o — Procesar Mensaje", "type": "main", "index": 0 }]]
    },
    "GPT-4o — Procesar Mensaje": {
      "main": [[{ "node": "¿Quiere agendar cita?", "type": "main", "index": 0 }]]
    },
    "¿Quiere agendar cita?": {
      "main": [
        [{ "node": "Parsear JSON de Cita", "type": "main", "index": 0 }],
        [{ "node": "Preparar Respuesta Normal", "type": "main", "index": 0 }]
      ]
    },
    "Parsear JSON de Cita": {
      "main": [[{ "node": "Google Sheets — Guardar Cita", "type": "main", "index": 0 }]]
    },
    "Google Sheets — Guardar Cita": {
      "main": [[{ "node": "Google Calendar — Crear Evento", "type": "main", "index": 0 }]]
    },
    "Google Calendar — Crear Evento": {
      "main": [[{ "node": "Preparar Mensaje Confirmación", "type": "main", "index": 0 }]]
    },
    "Preparar Mensaje Confirmación": {
      "main": [[{ "node": "WhatsApp — Enviar Respuesta al Cliente", "type": "main", "index": 0 }]]
    },
    "Preparar Respuesta Normal": {
      "main": [[{ "node": "WhatsApp — Enviar Respuesta al Cliente", "type": "main", "index": 0 }]]
    },
    "WhatsApp — Enviar Respuesta al Cliente": {
      "main": [[{ "node": "Responder al Webhook de Meta", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [{ "name": "NexusAI" }, { "name": "Asistente IA" }, { "name": "Citas" }],
  "meta": { "instanceId": "nexusai-bot" }
}
